@page :first {
   margin: 31.6mm 0 20mm 0;
   padding: 0;
   size: A4;
   @top-center {
      content: element(header)
   }
}
@page {
   margin: 31.6mm 0 20mm 0;
   padding: 0;
   size: A4;
   @bottom-center {
      content: element(footer)
   }
}

a {
   color: blue;
}

body {
   padding: 0;
   padding-bottom: 50mm;
   margin: 0;
   font-size: 13px;
   font-family: Arial, sans-serif;
   line-height: 5mm;
}

.header {
   position: running(header);
   display: block;
   margin-left: 28mm;
   width: 173mm;
   height: 31.6mm;
   padding-top: 10mm;
}