<div class="footer">
   <div class="pdf-footer-text">
      Pdf footer text
      <div class="pdf-footer-title">
         <span class="pdf-footer-primary-title"> pdf-footer-primary-title </span><br/>
         <span class="pdf-tinubu-style">
              Pdf footer tinubu style
          </span>
      </div>
   </div>
   <div class="pdf-page-number">
      Page <span id="pagenumber"></span> | <span id="pagecount"></span>
      <br> pdf Footer Page Text
   </div>
</div>
